.avatar-style {
  width: 36px !important;
  height: 36px !important;
}


.button-style {
  background: content-box !important;
  border: none !important;
  color: white !important;
}

.inputField {
  margin: 5px !important;

}

.icon-style {
  margin: auto 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.5s;
  background-color: #95afaf;
}

.icon-style:hover {
  background-color: #b3cccc;
}

.loading-style {
  position: fixed;
  top: 0px;
  background-color: black;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.page-style {
  margin: auto;
  max-width: 940px;
  background-color: white;
  
}