.avatar-style {
  width: 36px !important;
  height: 36px !important;
}

.button-style {
  background: content-box !important;
  border: none !important;
  color: white !important;
}

.inputField {
  margin: 5px !important;

}

.icon-style {
  margin: auto 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.5s;
  background-color: #95afaf;
}

.icon-style:hover {
  background-color: #b3cccc;
}